.contact-container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-btn {
    color: white;
    font-size: 1.5em;
}

@media (min-width:1025px) { 
    .contact-container {
        font-size: 1.5em;
    }
}