.abt-container {
    display: grid;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
}

.abt-container img {
    width: 100%;
}

.abt-bio {
    display: grid;
    gap: 20px;
}

.abt-bio-item {
    position: relative;
    display: grid;
    gap: 10px;

    border: 2px solid white;
}

.abt-bio-item[data-id="first-bio"] {
    grid-template-columns: 30px 1fr min-content;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, .7) 100%), url('./assets/bens.jpg') no-repeat;
    background-size: cover;
}

.abt-bio-item[data-id="second-bio"] {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, .7) 100%), url('./assets/fbla.jpg') no-repeat;
    background-size: cover;
    height: 500px;
}

.abt-bio-item > img {
    margin: 10px;
    width: 30px;
}

.abt-bio-item > p {
    margin-top: auto;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    font-family: Lato;
}

.abt-bio-item > p > span {
    padding: 0 3px;
    background-color: white;
    color: black;
}

.abt-award {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;

    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 5px;
    box-shadow: crimson 4px 4px 0px 0px;
}

.abt-award > h1 {
    position: relative;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.abt-award > h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1em;
}

@media (min-width:1025px) {
    .abt-container {
        grid-template-columns: auto, auto;
        padding: 0 300px;
    }

    #careers {
        grid-column: span 2;
    }

    .abt-bio {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }

    .abt-bio-item > img {
        width: 50px;
    }

    .abt-award > img {
        width: 300px;
        place-self: center;
    }

    .abt-bio-item[data-id="second-bio"] {
        height: auto;
    }

    .abt-award[data-value="WSU Computer Science"] {
        grid-column: span 2;
    }
}