.abt-container {
    display: grid;
    gap: 30px;

    padding: 0 25px;
}

.abt-container img {
    width: 100%;
}

.abt-bio {
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,  rgba(0, 0, 0, .7) 100%), url('./assets/bens.jpg') no-repeat;
    background-size: cover;
    border: 2px solid white;
}

.abt-bio > img {
    padding: 10px;
    height: 500px;
}

.abt-bio > p {
    margin-top: auto;
    color: white;
    font-size: 1.1em;
    font-family: Lato;
}

.abt-bio > p > span {
    padding: 0 3px;
    background-color: white;
    color: black;
}

.abt-award {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;

    padding: 10px;
    border: 3px solid var(--white-color);
    border-radius: 5px;
    box-shadow: crimson 4px 4px 0px 0px;
}

.abt-award > h1 {
    position: relative;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.abt-award > h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1em;
}

@media (min-width:1025px) {
    .abt-container {
        grid-template-columns: auto, auto;
        padding: 0 300px;
    }
    #careers {
        grid-column: span 2;
    }
    .abt-bio {
        grid-column: span 2;
    }
    .abt-bio > img {
        height: 1000px;
    }

    .abt-award > img {
        width: 300px;
        place-self: center;
    }
}