.all-quicklinks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;
    gap: 30px;
}

.quicklinks-container {
    display: flex;
    justify-content: center;
    font-family: Lato;
}

.dropdown-container {
    width: 100%;
    margin: 0 20px;
}

.dropdown-container > li > a, #d-toggle {
    display: none;
}

.dropdown-button {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 1em 0;
    scroll-margin-top: 200px;

    color: white;
    background-color: black;

    font-family: inherit;
    font-size: inherit;
    border: 2px solid var(--white-color);
}

.dropdown-button:hover {
    cursor: pointer;
}

/* DROPDOWN TOGGLED DISPLAY*/
#d-toggle:checked ~ .dropdown-container {
    display: block;
    position: relative;
    margin-top: 2em;
}

#d-toggle:checked ~ .dropdown-container .dropdown-button .title-text::before {
    content: "./";
}

#d-toggle:checked ~ .dropdown-container .dropdown-button {
    position: absolute;
    padding: 0;

    justify-content: left;
    background-color: transparent;

    left: -1.75em;
    top: -2em;

    border: none;
    font-size: 1em;
    color: var(--white-color);
}


/* Links */
#d-toggle:checked ~ .dropdown-links > li:not(:nth-child(2)) {
    margin-top: 1em;
}

#d-toggle:checked ~ .dropdown-links > li > a {
    display: block;
    text-align: center;

    font-variant: small-caps;

    padding: 0.5em;

    background-color: black;
    color: var(--white-color);
    text-decoration: none;

    border: 2px solid var(--white-color);
}

#d-toggle:checked ~ .dropdown-links > li > a::after {
    content: " â­";
}

 /* File-tree stem */
 #d-toggle:checked ~ .dropdown-container::after {
    content: '';
    position: absolute;
    left: -1.7em;
    top: -1.3em;
    border-left: 0.15em solid var(--light-gray-color);
    height: 100%;
 }

/* File-tree branch */
#d-toggle:checked ~ .dropdown-links > li > a::before {
    content: '';
    position: absolute;
    border-bottom: 0.15em solid var(--light-gray-color);
    left: -1.7em;
    width: 1.2em;
    height: 0.5em;
 }

 /*Animation */
 .typing-text {
    display: none;
    position: relative;
    margin-right: 5px;
    font-size: 1em;
    color: white;
 }

 .typing-text .cursor {
     position: absolute;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: black;
     border-left: 2px solid white;
     z-index: 0;
 }

 .title-text {
     z-index: 1;
     display: inline-block;
 }