.resume-container {
    display: grid;
    gap: 5vmax;
    place-items: center;
    margin: 0 5vmax;
    font-family: Lato;
}

.resume-items {
    display: grid;
    gap: 5vmax;
    width: 100%;
}

#careers {
    padding-top: 5vh;
}

.skills {
    text-align: center;
}

.skills-item > p {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

.skills-item > h1 {
    margin: 0px;
    font-size: 1.25rem;
}

.skills-item > img {
    width: 4rem;
    padding: 10px;
}

.accolades-container h1 {
    text-align: center;
    font-size: 1.5em;
}