.contact {
    min-height: calc(100vh - 85px);
    margin: 0 30px;
}
.contact-inquries {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    color: white;
}

.business-inquries {
    text-align: center;
    font-size: 1.8em;
}

.business-inquries .title > p {
    margin: 0;
    font-size: 0.55em;
    color: lightgray;
}

.contact-form {
    display: grid;
    gap: 1em;
}

.contact-label{
    color: white;
    font-size: 0.8em;
}

.contact-form-control{
    padding: 10px 0;
    width: 100%;
    border: 1px solid white;
    background-color: var(--light-gray-color);
}

.contact-form-control:focus {
    border: 1px solid white;
    outline: none;
    color: white;
}

.contact-send-button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 1em;
    font-family: Lato;
}

@media (max-height: 100vw) {
    .contact {
        display: grid;
        grid-template-columns: min-content 800px;
        place-content: center;
        gap: 100px;
        padding: 0 100px;

        background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%), url('../home/assets/background.jpg') no-repeat;
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
    }
}
