.contact-inquries {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    color: white;
}

.business-inquries {
    display: grid;
    gap: 10px;
    grid-template-columns: min-content max-content;
    font-size: 1.8em;
}

.business-inquries .title > p {
    margin: 0;
    font-size: 0.5em;
    color: gray;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contact-form-group {
    width: 100%;
}

.contact-label{
    color: white;
    font-size: 0.8em;
}

.contact-input {
    margin-right: 20px;
}

.contact-form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: var(--light-gray-color);
}

.contact-form-control:focus {
    border: 1px solid white;
    outline: none;
    color: white;
}

.contact-send-button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 1em;
    font-family: Lato;
}

.contact-margin {
    display: grid;
    gap: 40px;
    padding: 10px 15px;
    margin-top: 55px;
    position: relative;
}

@media (min-width:1025px) {
    .contact {
        display: grid;
        grid-template-columns: min-content 800px;
        place-content: center;
        gap: 100px;
        padding: 0 100px;
    }
}
