.hp-container {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 80px);
}

.hp-items {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 5vh;
}

.hp-content-width {
  min-width: 35vh;
}

.hp-dropdown-btns {
  display: grid;
  gap: 5vh;
}

@media (max-height: 100vw) {

  .hp-content-width {
    min-width: 30vw;
  }

}