.hp-container {
  margin: 1vmax 5vmax;
}

.hp-dropdown-btns {
  margin: 0 2vmax;
}

@media (max-height: 100vw) {
  .hp-container {
    margin: 0 5vw;
    min-height: 100vh;
    place-content: center;
  }
}