.port-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

/*HEADER*/
.port-header {
    display: block;
    color: white;
    margin: 0;
    margin-top: 50px;
    font-size: 3.8em;
    font-family: BoldTestament;
    text-align: center;
}

/*INITIAL COLLAPSED DISPLAY*/
.port-sec-container {
    position: relative;
    display: grid;
    place-content: center;
    width: 100%;
    height: 3.5em;
    border-radius: 3px;
}

.port-expand-button {
    display: block;
    width: 100%;
    padding: 1em;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: Lato;
}

#collapse, .collapsible {
    display: none;
}

/*UNCOLLAPSED DISPLAY*/
#collapse:checked ~ .collapsible {
    display: block;
}

.port-display-all {
    display: grid;
    gap: 15px;
    margin-right: 4px;
}

/*BOX DESIGNS*/
.port-display-box{
    padding: 10px;

    background-color: var(--dark-gray-color);
    color: var(--white-color);
    font-family: Lato;
}

.port-display-box > img {
    width: 100%;
}

/*TEXT BOXES*/
.port-text-container {
    display: grid;
    grid-template-columns: 1fr;
}

.port-text-container > h1 {
    margin: 0;
    color: var(--light-gray-color);
    font-size: 5em;
    font-family: BoldTestament;
}

/*TEXT*/
.port-text-container > p {
    font-size: 1.2em;
    line-height: 30px;
}

/*LINKS*/
.port-text-container > p > a {
    font-size: 1.1em;
    padding: 0 3px;
}

/*LISTS*/
.port-list {
    display: grid;
    gap: 10px;
}

.port-list-item {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.port-list-index {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    border-radius: 2px;
    font-size: 3em;
    color: var(--white-color)
}

.port-list-text > h1 {
    margin: 0;
    padding: 0 10px;
}

.port-list-text > p {
    margin: 0;
    padding: 2px 10px;
    color: gray;
    font-size: 0.9em;
}


@media (min-width:1025px) {
    .port-display-all {
      grid-auto-columns: 1fr 1fr;
    }

    .grid-span-2 {
        grid-column: span 2;
    }

    .port-text-container > img {
        max-height: 300px;
    }

    .port-img-container{
        display: grid;
        place-items: center;
        grid-column: span 2;
    }

    .port-img-container > img {
        max-width: 1000px;
        place-self: center;
    }
}

