.tutor-container {
    margin: 2vmax;
}

.facts li {
    text-align: center;
    margin-bottom: 4vmax;
}

.facts .icon {
    font-size: 4em;
    color: var(--primary-green-color);
    margin-bottom: 10px;
}

.facts h1 {
    margin: 0;
    color: var(--secondary-green-color);
    font-family: BoldTestament;
    margin-bottom: 10px;
}

.facts p {
    margin: 0;
    font-family: Lato;
    color: var(--white-color);
}