.tutor-page {
    position: relative;

    display: grid;
    gap: 40px;

    margin-top: 40px;
    padding: 10px 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url('../home/assets/background.jpg') no-repeat;
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
}

.tp-about {
    display: grid;
    gap: 30px;
    place-items: center;
}

.tp-header {
    margin: 0;
    color: white;
    text-align: center;
    font-family: BoldTestament;
    font-size: 5em;
}

.tp-text-box {
    display: grid;

    padding: 10px;
    border-radius: 3px;
    background-color: var(--dark-gray-color);
    box-shadow: var(--light-gray-color) 4px 4px 0px 0px;
    align-items: center;
    color: white;
    font-family: Lato;
}

.tutor-page > img {
    display: block;
    width: 100%;
    padding-top: 50px;
}

.tp-features {
    display: grid;
    gap: 35px;
}

.tp-feature {

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 2em;
    color: white;
}

.tp-feature > h1 {
    margin: 0;
    font-size: 1em;
}

.tp-feature > h2 {
    margin: 0;
    max-width: 150px;
    font-size: 0.5em;
}

.my-langs {
    padding: 10px;
    border-radius: 3px;
    background-color: var(--dark-gray-color);
    box-shadow: var(--light-gray-color) 4px 4px 0px 0px;
    font-size: 1.5em;
    color: #BC8650;
}

.my-langs li {
    padding-left: 30px;
    margin-bottom: 3px;
    color: #9B386A;
}

.my-langs li:not(:last-child)::after {
    content:",";
    color: white;
}

.white {
    color: white;
}

@media (min-width:1025px) {

    #tp-review {
        width: 800px;
        place-self: center;
    }

    .tutor-page {
        padding: 0 300px;
        gap: 50px;
        grid-template-columns: 1fr;
    }

    .tp-about {
        grid-template-columns: auto auto;
        gap: 0;
    }

    .tp-features {
        grid-row: 2;
        margin: 100px 0;
        grid-template-columns: repeat(4, 1fr);
    }

    .inquries {
        font-size: 20px;
    }

    .tutor-info > p {
        text-align: center;
        place-self: center;
        width: 800px;
        font-size: 1.2em;
        letter-spacing: 1px;
    }
}
