.contact-container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.contact-btn {
    display: grid;
    position: relative;
    place-items: center;
    color: white;
    font-size: 1.5em;
    background-color: transparent;
    outline: none;
    border: none;
}

.copy-tooltip {
    position: absolute;
    opacity: 0;
    top: 3.5em;
    padding: 5px;
    width: max-content;
    z-index: 100;
    font-size: 0.5em;
    background: white;
    font-family: Lato;
    color: black;
    border-radius: 3px;
}

@media (min-width:1025px) { 
    .contact-container {
        font-size: 1.5em;
    }
}