.ql-container, .ql-expanded-container {
    font-family: Lato;
}

.ql-btn {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;
    padding: 20px 0;
    scroll-margin-top: 200px;

    color: white;
    background-color: black;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid var(--white-color);
}

.ql-btn-icon {
    position: absolute;
    display: grid;
    place-content: center;
    right: 0;
    top: 0;
    height: 100%;
    border-left: 2px solid var(--white-color);
    width: 15%
}


/* EXPANDED DISPLAY*/
.ql-expanded-container {
    position: relative;
    display: block;
    margin-top: 2em;
}

.ql-expanded-container .ql-expanded-title::before {
    content: "./";
}

.ql-expanded-title {
    position: absolute;
    left: -1.75em;
    top: -3em;
    justify-content: left;
    padding: 0;

    background-color: transparent;
    color: var(--white-color);
    border: none;
    font-family: Lato;

    font-size: 1em;
}


/* Links */
.ql-links .ql-item:not(:nth-child(2)) {
    margin-top: 1em;
}

.ql-links .ql-item > a {
    display: block;
    padding: 0.5em;

    background-color: black;
    color: var(--white-color);
    border: 2px solid var(--white-color);

    text-align: center;
    text-decoration: none;
}

 /* File-tree stem */
.ql-tree-stem::after {
    content: '';
    position: absolute;
    top: -1.3em;
    left: -1.7em;
    height: 100%;
    border-left: 2px solid var(--light-gray-color);
 }

/* File-tree branch */
.ql-links .ql-tree-branch a::before {
    content: '';
    position: absolute;
    left: -1.7em;
    width: 1.2em;
    height: 0.5em;
    border-bottom: 2px solid var(--light-gray-color);
 }

 /*Animation */
.ql-typing-text {
    position: relative;
    margin-right: 5px;
    color: white;
    font-size: 1em;
 }

.ql-cursor {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid white;
    z-index: 0;
 }

.ql-title-text {
    z-index: 1;
 }