.tnb-links {
    margin-top: 8vh;
    margin-left: 38px;
    color: var(--white-color);
    font-size: 1.5em;
    font-family: Lato;
}

.tnb-tree-stem {
    position: relative;
}

.tnb-links > h1 {
    margin: 0 0 10px -30px;
    background-color: var(--background-color);
}

.tnb-links, .tree-stem {
    position: relative;
}

.tnb-tree-stem > li {
    padding: 10px 0;
}

.tnb-tree-stem::after {
    content: '';
    position: absolute;
    top: -26px;
    left: -20px;
    height: 100%;
    z-index: -1;
    border-left: 2px solid var(--light-gray-color);
}

.tnb-branch::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--light-gray-color);
    left: -20px;
    width: 15px;
    height: 0.5em;
}
