.tnb {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 999;
    color: var(--white-color);
    border-bottom: 2px solid var(--secondary-green-color);
    max-height: 80px;
}

.tnb-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--dark-gray-color);
    width: 100%; 
}

#tnb-logo {
    width: 150px;
    padding: 0 10px;
}

#tnb-dropdown-toggle-icon {
    padding: 0 10px;
    font-size: 3em;
}

.tnb-nav {
    top: -100vh;
    width: 100%;
    height: 40%;
    z-index: -1;
    position: fixed;
    background-color: var(--dark-gray-color);
}

.tnb-nav-animate-dropdown {
    transition: all 350ms ease-in-out;
}

#tnb-dropdown-toggle:checked ~ .tnb-nav {
    top: 20px;
}

@media (max-height: 100vw) { 
    #tnb-logo {
        width: 200px;
    }
    #tnb-dropdown-toggle-icon {
        font-size: 4em;
    }
}