.tnb {
    color: var(--white-color);
}

#tnb-logo {
    width: 150px;
    padding: 10px;
}

.tnb-clickable {
    cursor: pointer;
    user-select: none;
}

.tnb-container {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%; 
    z-index: 100;
    justify-content: space-between;
    background-color: var(--dark-gray-color);
}

.tnb-dropdown-toggle-icon {
    padding: 0 5px;
    font-size: 3em;
}

.tnb-nav {
    top: -100vh;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    background-color: black;
}

.tnb-animate-dropdown {
    transition: all 350ms ease-in-out;
}

#tnb-dropdown-toggle:checked ~ .tnb-nav {
    top: 0;
}

@media (min-width:1025px) { 
    #tnb-logo {
        width: 200px;
    }
    .tnb-dropdown-toggle-icon {
        font-size: 4em;
    }
}