@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-gray-color: #231f20;
  --light-gray-color: #414042;
  --white-color: #e5e4e2;
}

.home {
  position: relative;
  height: calc(100vh - 50px);
}

.front-page {
  min-height: 100vh;
  padding: 25px;
  display: block;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%), url('./assets/background.jpg') no-repeat;
  background-size: cover;
}

#main-logo {
  margin-top: 40px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}
