.sft-engin .headers > h1 {
    display: block;
    color: white;
    margin: 0;
    margin-top: 30px;
    font-size: 3.8em;
    font-family: BoldTestament;
    text-align: center;
}

.sft-engin .headers > h2 {
    margin: 0;
    font-family: Lato;
    color: var(--light-gray-color);
}

.sft-engin-logo-header {
    margin-top: 15px;
    position: relative;
    height: 3.5em;
    border-radius: 3px;
    background-color: #303f9f;
    width: 100%;
}

.sft-engin-logo-header .l-container {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: -30px;
}

.sft-engin-logo-header .l-container > img {
    display: block;
    width: 200px;
}

.expand-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: Lato;
    padding: 1em;
    margin-top: 15px;
    width: 100%;
}

.collapse {
    display: none;
}

#collapse {
    display: none;
}

#collapse:checked ~ .collapse {
    display: block;
}




.sft-engin-about {
    margin-top: 30px;
    margin-right: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr), min-content;
    grid-template-rows: repeat(3, 1fr); 
    gap: 15px;
}

.sft-grid-box {
    position: relative;
    background-color: var(--dark-gray-color);
    padding: 10px;
    font-family: Lato;
    box-shadow: #303f9f 3px 3px 0px 0px;
    color: var(--white-color);
}

.bold-header {
    font-family: BoldTestament;
    font-size: 5em;
    margin: 0;
    color: var(--light-gray-color);
}



.sft-engin-about .about {
    display: block;
    grid-area: 1 / 1 / 2 / 3;
    word-spacing: 2px;
    font-size: 1.1em;
}

.sft-engin-about .about > p > span {
    border-bottom: 4px solid #303f9f;
}



.sft-engin-about .awards {
    grid-area: 2 / 1 / 3 / 2;
}

.sft-engin-about .awards > h1 {
    font-size: 1.2em;
    text-align: center;
}

.sft-engin-about .awards > img {
    display: block;
    width: 150px;
}



.sft-engin-about .tech {
    grid-area: 2 / 2 / 3 / 3;
}

.sft-engin-about .tech > p {
    font-size: 1.2em;
    text-align: center;
}

.sft-engin-about .guidelines {
    grid-area: 3 / 1 / 4 / 3;
    padding-bottom: 80px;
}

.sft-engin-about .guidelines > h1 {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.sft-engin-about .guidelines > p > a {
    color: #303f9f;
    font-size: 1.1em;
    border-bottom: 4px solid #303f9f;
    
}

.sft-engin-about .guidelines > p {
    color: var(--white-color);
    font-size: 1.1em;
}



.front-end .demo-vids {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.front-end .demo-vids > video {
    height: 200px;
}

.user-flow-diagram {
    display: flex;
    position: relative;
}

.user-flow-diagram > img {
    width: 100%;
}


.uml-diagram {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.back-end .uml-diagram > img {
    width: calc(100% - 10px);
}
