.footer-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: min-content;
    padding: 10px;
}

@media (max-height: 100vw) {
    .footer-container {
        display: none;
    }
}