.footer-container {
    display: grid;
    justify-content: center;
    grid-template-columns: min-content;

    gap: 20px;
    padding: 10px;
}

.footer-container > img {
    width: 100%;
}

@media (max-height: 100vw) {
    .footer-container {
        display: none;
    }
}