
.portfolio-page {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, .8) 100%), url('../home/assets/background.jpg');
    background-position:top;
    background-size: 200%;
}

.ezquiz .port-display-box {
    box-shadow: #303f9f 3px 3px 0 0;
}

.ezquiz .port-text-container > p > a {
    border-bottom: 3px solid #303f9f
}

.ezquiz .port-list-index, .ezquiz .port-sec-container {
    background-color: #303f9f;
}

#ezquiz-logo {
    position: relative;
    width: 200px;
}


.puapp .port-display-box {
    box-shadow: #ee680e 3px 3px 0 0;
}

.puapp .port-text-container > p > a {
    border-bottom: 3px solid #ee680e
}

.puapp .port-list-index, .puapp .port-sec-container {
    background-color: #ee680e;
}

#puapp-logo {
    position: relative;
    width: 90px;
}

.bmin-schreib .port-display-box {
    box-shadow: #fff 3px 3px 0 0;
}

.bmin-schreib .port-text-container > p > a {
    border-bottom: 3px solid #fff
}

.bmin-schreib .port-list-index, .bmin-schreib .port-sec-container {
    background-color: var(--dark-gray-color)
}

#bmin-schreib-logo {
    position: relative;
    width: 120px;
}

@media (min-width:1025px) and (max-height: 100vw) { 
    .portfolio-page {
        padding: 10px 300px;
        background-size: cover;
        background-attachment: fixed;
    }
}